<section id="{{ this.id }}" class="columns {{ this.class }}">
  {% if this.title | length %}
  <h1>{{ this.title }}</h1>
  {% endif %}
  <div class="content">
    {{this.sections }}
  </div>
</section>
